* {
  box-sizing: border-box;
  font-family: Georgia, serif;
  color: white;
}

.words {
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 60px;
  text-align: center;
}

.button {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  background-color: rgba(220, 220, 235, 0.5);
  cursor: pointer;
  transition: all ease 0.3s;
  padding: 15px;
  align-items: center;
  text-align: center;
}

.button:hover {
  background-color: rgba(220, 220, 235, 0.7);
  transition: all ease 0.3s;
}

.button-stop {
  margin-left: 25px;
}